.note-form-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.noteform-header {
  display: flex;
  justify-content: space-between;
}

.noteform-btns {
  margin-right: 10px;
}

.title-input {
  flex: 1;
  margin-left: 10px;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  outline: none;
  margin-bottom: 20px;
}

.note-textarea {
  flex: 1;
  font-size: 1.2rem;
  line-height: 1.6;
  border: none;
  outline: none;
  resize: none;
  padding: 10px 0;
}